<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.adminLoginMapper">
  
  <!-- 관리자 로그인 -->
  <select id="select_admin" parameterType="kr.co.sist.vo.adminLoginVO" resultType="String">
  	select ad_name
	from ADMIN
	where ad_id=#{ad_id} and ad_pass=#{ad_pass}
  </select>
  
</mapper>