<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.dashBoardMapper">
 
 <!-- 총 회원수  -->
 <select id="selectTotalMember" resultType="int">
	select COUNT(*)
	from member
 </select>
 
 <!-- 월별 리뷰수  -->
  <select id="selectMonthComment" resultType="int">
	select COUNT(*)
	from REVIEW
	where R_DATE between TRUNC (SYSDATE, 'MONTH') and TRUNC (LAST_DAY (SYSDATE))
 </select>
 
 <!-- 월별 예약 수  -->
  <select id="selectMonthBookingTour" resultType="int">
	select COUNT(*)
	from BOOKING
	where B_DATE between TRUNC (SYSDATE, 'MONTH') and TRUNC (LAST_DAY (SYSDATE))
 </select>

 <!-- 총 수입  -->
 
  <select id="selectMonthPrice" resultType="int">
	select sum(to_price) to_price
	from tour t,booking b
	where t.to_num=b.to_num
 </select>
 
 <!-- 좋아요  -->
   <select id="selectPopularLike" resultType="kr.co.sist.domain.PopularLikeDomain">
	<![CDATA[
	select tr_name ,like_cnt
	from(select tr_name,like_cnt
	from  travel
	order by like_cnt desc)
	where rownum   <  = 3
	]]>
 	</select>
 
   <select id="selectPopularReview" resultType="kr.co.sist.domain.PopularReviewDomain">
	<![CDATA[
	select TR_NAME,REVIEW_NUM
	from (select TR_NAME,COUNT(*) REVIEW_NUM
	from travel t, review r
	where t.tr_num=r.tr_num
	group by TR_NAME
	HAVING COUNT(*)>=0
	order by COUNT(*) desc)
	where rownum <= 3
	]]>
 	</select>

</mapper>