<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.dashBoardMapper">
 
 <!-- 총 회원수  -->
 <select id="selectTotalMember" resultType="int">
	select COUNT(*)
	from member
 </select>
 
 <!-- 월별 리뷰수  -->
  <select id="selectMonthComment" resultType="int">
	select COUNT(*)
	from REVIEW
	where R_DATE between TRUNC (SYSDATE, 'MONTH') and TRUNC (LAST_DAY (SYSDATE))
 </select>
 
 <!-- 월별 예약 수  -->
  <select id="selectMonthBookingTour" resultType="int">
	select COUNT(*)
	from BOOKING
	where B_DATE between TRUNC (SYSDATE, 'MONTH') and TRUNC (LAST_DAY (SYSDATE))
 </select>

 <!-- 월별 수입  -->

 <!-- 좋아요  -->

</mapper>