<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.mainMapper">
  
  <select id="selectData" resultType="kr.co.sist.domain.TravelThumbDomain">
  	select tr_num, tr_name, like_cnt, thumb_img
  	from travel
  </select>
  
  
</mapper>